@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'fredokaOne';
    src: url(/public/fonts/FredokaOne-Regular.ttf) format('truetype');
  }
}

:root {
  /* Primary Tokens */

  --green: #99fba8;
  --red: #fb9999;
  --light-blue: #bbe5fe;
  --blue: #74b0ec;
  --dark-blue: #096ebb;
  --black: #000000;
  --white: #ffffff;
  --orange: #ffbf08;
  --secondary-blue: #97cbf5;

  /*  */
  --text: var(--black);
  --background: var(--light-blue);
  --input-background: var(--white);
}